@charset "utf-8";

/*------------------------------------*\ 
  #CUSTOM PROPERTIES SECTION
\*------------------------------------*/

:root {
  --primary-color: #7a9d96;
  /*use "var(--primary-color);"*/
  --primary-text: black;
  --p-light-color: #cae4db;
  /*light blue*/
  --p-light-text: black;
  --p-dark-color: #00303f;
  /*dark blue*/
  --p-dark-text: white;
  --secondary-color: #e7c24c;
  /*#dcae1d; gold*/
  --secondary-text: black;
}

body {
  display: flex;
  /* min-height: 100vh;*/
  flex-direction: column;
  flex-wrap: nowrap;
  flex-basis: auto;
  font-family: 'Slabo 27px', serif;
}

/*------------------------------------*\ 
  #HEADER SECTION
\*------------------------------------*/

header {
  display: flex;
  background: var(--secondary-color);
  flex-direction: row;
  flex-grow: 2;
  height: 10vh;
  order: -1;
}

#title {
  order: 3;
  flex-grow: 8;
}

#logo {
  order: 1;
  flex-grow: 2;
}

#logo img {
  height: 11vh;
}

#menu {
  order: -1;
  flex-grow: 1;
}

#list {
  order: 99;
  flex-grow: 0;
}

/*------------------------------------*\ 
  #CENTER SECTION
\*------------------------------------*/

h1 {
  word-spacing: 25px;
  letter-spacing: .25em;
  font-family: "Smooth Stone";
  font-size: 3em;
  align-self: center;
  text-shadow: 1px 2px #F5F5DC;
}

#center {
  background-image: url("images/cinqueterre01.jpg");
  background-size: contain;
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-color);
  flex-wrap: nowrap;
  flex-grow: auto;
  background-repeat: no-repeat;
  order: 1;
}

main {
  display: flex;
  flex-direction: row;
  /*background-color: var(--secondary-color);*/
  flex-grow: 9;

}

nav#left {
  flex-grow: 2;
  /*padding-left:75px;
  padding-bottom:100px; added this*/
}

nav#left ul {
  flex-direction: column;
  list-style-type: none;
  text-align: center;
  width: 200px;
  /*added this*/
}

nav#left li {
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, Not needed??? rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%,
  rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}


nav#left ul li a {
  font-family: "IM Fell DW Pica";
  /*text-transform:uppercase;*/
  color: /*black;*/
  rgba(0, 0, 0, 0.7);
  font-size: 1.5em;
  text-decoration: none;
}

nav#left ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
  (0,
  0,
  0,
  0.7);
}

nav#left li {
  padding-top: 8px;

}

article {
  flex-grow: 6;
  order: 1;
}

aside#right {
  background-image: url("images/syracuse.jpg");
  background-repeat: no-repeat;
  flex-grow: 2;
  /*changed this from 2*/
  order: 99
}

/*------------------------------------*\ 
  #FOOTER SECTION
\*------------------------------------*/

footer {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  background: var(--secondary-color);
  flex-grow: 2;
  order: 99;
}

footer > nav {
  flex-direction: row;
  background-color: cyan;
}


#legal > nav {
  flex-direction: row;
  background-color: cyan;
  order: 2;
}

#legal > nav > a {
  font-size: .8em;
  background-color: pink;
}

#legal {
  display: flex;
  flex-direction: row;
  background-color: blue;
  flex-wrap: nowrap;
  max-width: 250px;
}

#school img {
  height: 45px;
  width: 60px;
  padding-left: 10px;
}

#license {
  font-size: .61em;
  max-width: 150px;
  padding-left: 10px
}

#license a {
  font-size: .7em;
}

#copyright {
  padding-left: 10px;
  background-color: red;
  order: 1;
  font-size: .8em;

}

#webmaster {
  padding-left: 7px;
}

#tech img {
  height: auto;
  width: 100px;
  padding-left: 10px;
}

header,
footer,
article,
nav,
aside {
  padding: 1em;
}

/*------------------------------------*\ 
  #DISCLAIMER SECTION
\*------------------------------------*/

#disclaimer > ol {
  list-style-type: upper-roman;
  max-width: 530px;
  background-color: beige;
}

#disclaimer li {
  padding-left: 1.3em;
  font-size: 1em;
}

#disclaimer li:before {
  content: "§";
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}

#disclaimer p {}
