@charset "utf-8";

/*------------------------------------*\ 
  #CUSTOM PROPERTIES SECTION
\*------------------------------------*/

:root {
  --primary-color: #e7c24c;
  --primary-text: black;
  --p-light-color: #F1DD9D;
  --s-light-color: #80d6ff;
  /*light blue*/
  --p-light-text: black;
  --p-dark-color: #b29216;
  --s-dark-color: #0077c2;
  /*dark blue*/
  --p-dark-text: white;
  --secondary-color: #42a5f5;
  /*#dcae1d; gold*/
  --secondary-text: black;
  --gray-color: #888888;
  --g-light-color: #b8b8b8;
  --g-dark-color: #5b5b5b;

}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}



body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding-bottom: 5rem;
  min-height: 100%;
  font-family: 'Slabo 27px', serif;
  background-color: var(--g-light-color);
  /*var(--primary-color);*/
}


/*------------------------------------*\ 
  #HEADER SECTION
\*------------------------------------*/

header {
  display: flex;
  background: var(--primary-color);
  /*background: #A98E38;*/
  flex-direction: row;
  height: 15vh;
  order: -1;
}

header h1 {
  word-spacing: 25px;
  letter-spacing: .25em;
  font-family: "Smooth Stone";
  font-size: 3.3em;
  align-self: center;
  text-shadow: 1px 2px #F5F5DC;
}

#title {
  order: 3;
  flex-grow: 8;
}

#logo {
  order: 1;
  flex-grow: 2;
}

#menu {
  order: -1;
  flex-grow: 1;
}

#list {
  order: 99;
  flex-grow: 0;
}

/*------------------------------------*\ 
  #CENTER SECTION
\*------------------------------------*/

#center h1 {
  word-spacing: 25px;
  letter-spacing: .25em;
  font-family: "Smooth Stone";
  font-size: 2.5em;
  align-self: center;
  text-shadow: 1px 2px #F5F5DC;
  background-color: rgba(255, 255, 255, .4);
  display: inline;
  max-width: 530px;
}

#center {
  background-color: var(--primary-color);
  background-image: url("images/cinqueterre02_1024x600.jpg");
  background-size: contain;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
  min-height: 90vh - 5rem;
  max-width: 1200px;
  margin: auto;
}

.shadow_box {
  background: var(--p-light-color);
  box-shadow: 5px 10px 18px var(--gray-color);
  border: 2px solid var(--secondary-color);
}

.parchment_box {
  background-image: url("images/italy_parch_250x250.jpg");
  background-size: cover;
  box-shadow: 5px 10px 18px var(--gray-color);
  border: 2px solid var(--secondary-color);
}

main {
  display: flex;
  flex-direction: row;
  /*background-color: var(--primary-color);*/
  flex-grow: 9;
  min-height: 90vh - 5rem;
}

nav#left {
  flex-grow: 2;
  min-height: 90vh - 6rem;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  padding: 0 0;
  margin-left: 40px;
}

nav#left ul {
  /* flex-direction: column;*/
  list-style-type: none;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  width: 220px;
  padding: 0 0;
}


nav#left ul li a {
  padding: 4px 0;
  font-family: "IM Fell DW Pica";
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
}

nav#left ul :hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.7);
}

/*nav#left ul {
  flex-direction: column;
  list-style-type: none;
  text-align: center;
  width: 200px;
}

nav#left li {
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%,
  rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav#left > ul > li > a {
  font-family: "IM Fell DW Pica";
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.5em;
  text-decoration: none;
}

nav#left ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}

nav#left li {
  padding-top: 8px;
}

*/

article {
  flex-grow: 6;
  order: 1;
}

aside#right {
  background-image: url("images/syracuse.jpg");
  background-repeat: no-repeat;
  flex-grow: 2;
  order: 99
}

/*------------------------------------*\ 
  #FOOTER SECTION
\*------------------------------------*/

footer {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1 rem;
  background: var(--primary-color);
  max-height: 5rem;
  max-width: 1200px;
  margin: auto;
}

footer > nav {
  flex-direction: row;
}

#legal > nav {
  flex-direction: row;
  padding: 0;
  order: 2;
}

#legal > nav > a {
  font-size: .8em;
  margin: 1 1 1 1;
}

#legal {
  display: flex;
  flex-direction: row;
  background-color: var(--p-dark-color);
  flex-wrap: wrap;
  padding-left: 10px;
  max-width: 150px;
}

#school img {
  /*height: 45px;*/
  height: auto;
  /*width: 60px;*/
  width: 80px;
  padding-left: 10px;
  margin-right: 10px;
}

#license {
  font-size: .61em;
  max-width: 170px;
  padding-left: 10px;
}

#license a {
  font-size: .7em;
}

#copyright {
  padding-left: 10px;
  color: white;
  margin: 0;
  order: 1;
  font-size: .8em;
}

#webmaster {
  padding-left: 7px;
}

#tech img {
  height: auto;
  width: 120px;
  padding-left: 10px;
}

#tech_js {
  border: 1px solid black;
  margin-right: 5px;
}

header,
footer,
article,
nav,
aside {
  padding: 1em;
}

/*------------------------------------*\ 
  #DISCLAIMER SECTION
\*------------------------------------*/

#disclaimer > img {
  width: 40px;
}

#disclaimer > ol {
  list-style-type: upper-roman;
  max-width: 530px;
  background-color: var(--p-light-color);
  box-shadow: 5px 10px 18px var(--gray-color);
  border: 2px solid var(--secondary-color);
  padding: 20px 30px 20px 50px;
}

#disclaimer li {
  padding-left: 1.3em;
  font-size: 1em;
}

#disclaimer li:before {
  content: "§";
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}

#disclaimer p {}

/*------------------------------------*\ 
  #CONTACTUS SECTION
\*------------------------------------*/

#contactus > div.address > address {
  /* background-color: var(--p-light-color);
  box-shadow: 5px 10px 18px var(--gray-color);
  border: 2px solid var(--secondary-color);*/
  padding: 10px;
}

.address > address > img {
  padding-top: 20px;
}

.address > address > p.phone {
  margin-top: -5px;
}

.article_h1 {
  padding-left: 20px;
  margin-top: 15px;
}

#contactus article {
  margin-top: 0;
}

/*#contactus > div.address > aside {
  background-color: var(--p-light-color);
  box-shadow: 5px 10px 18px var(--gray-color);
  border: 2px solid var(--secondary-color);

}*/

#contactus > div.address {
  display: flex;
  margin-top: 20px;
}

#contactus > div.address > aside > table > caption {
  font-size: 3vh;
}

#contactus div.address > address > div > span {
  font-size: 3vh;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}

.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}

.tg .tg-c3ow {
  border-color: inherit;
  text-align: center;
  vertical-align: top
}

.tg .tg-amwm {
  font-weight: bold;
  text-align: center;
  vertical-align: top
}

.tg .tg-yw4l {
  vertical-align: top
}

/*------------------------------------*\ 
  #ABOUTUS SECTION
\*------------------------------------*/

#aboutus p {
  max-width: 20em;
  font-size: 2.7vh;
}

#aboutus > article {
  /* background-color: var(--p-light-color);
  box-shadow: 5px 10px 18px var(--gray-color);
  border: 2px solid var(--secondary-color);*/
  padding: 20px;
  margin-top: 15px;
}

#aboutus img {
  width: 40px;
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px;
  background-color: fuchsia;
}

#aboutus a {
  font-family: "IM Fell DW Pica";
  font-size: 2.7vh;
  display: inline;
}

/*------------------------------------*\ 
  #MAP SECTION
\*------------------------------------*/

#interactive_map {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

#interactive_map > h1 {
  font-size: 1.9em;
  word-spacing: -1px;
  margin: 20px;
  order: 2;
  padding-left: 20px;
}

div.mapInfo {
  background-color: var(--p-light-color);
  /*padding-bottom: 20px;*/
  width: 400px;
  margin: 20px;
}

div.mapInfo > p {
  color: black;
  font-size: 1.2em;
  font-family: "IM Fell DW Pica";
  margin: 20px 20px 5px 20px;
}

div.mapInfo h2 {
  background-color: var(--s-dark-color);
  font-size: 1.5em;
  color: white;
  font-family: "IM Fell DW Pica";
  font-weight: normal;
  padding: 10px 20px;
}


/* Map Styles */

div#tour_map {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: -16px;
  margin-bottom: 20px;
  /*margin-right:-40px;*/
  /*margin-left: auto;*/
  position: relative;
  order: 3;
  width: 100%;
}

img#mapImage {
  display: block;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 350px;
  height: 462px;
}

#map_div {
  background-image: url("images/blueparchment.jpg");
  /*background-repeat: no-repeat;*/
  background-size: cover;
  width: 390px;
  border: 2px solid var(--g-dark-color);
  box-shadow: 15px 14px 26px -6px rgba(0, 0, 0, 0.4);
}

#map_div > figcaption {
  color: var(--s-dark-color);
  font-size: 1.3em;
  text-align: center;
  font-family: "IM Fell DW Pica";
  padding-bottom: 5px;
  background-color: var(--p-light-color);
}

div.tour_markers > a {
  position: absolute;
}

a#marker1 {
  position: absolute;
  top: 85px;
  right: 240px;
}

a#marker2 {
  position: absolute;
  top: 170px;
  right: 260px;
}

a#marker3 {
  position: absolute;
  top: 275px;
  right: 150px;
}

a#marker4 {
  position: absolute;
  top: 400px;
  right: 166px;
}

div.mapInfo {
  display: none;
  align-self: flex-start;
}

a.tour_markers:hover + div.mapInfo {
  display: block;
}

/*------------------------------------*\ 
  #WEB ACCESSIBILTY SECTION
\*------------------------------------*/

#skip a {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#skip a:focus {
  position: static;
  width: auto;
  height: auto;
}

/*------------------------------------*\ 
  #PRIVACY POLICY SECTION
\*------------------------------------*/

#privacy {
  display: block;
  justify-content: space-between;
  font-family: "IM Fell DW Pica";
  padding: 20px;
  max-width: 530px;
}

#privacy > article {
  background: var(--p-light-color);
  box-shadow: 5px 10px 18px var(--gray-color);
  border: 2px solid var(--secondary-color);
}

#privacy h1 {
  font-size: 1.2em;
  text-align: center;
  align-self: center;
}

#privacy h2 {
  font-family: "Smooth Stone";
  font-size: 1.2em;
  max-width: 530px;
  text-align: center;
  align-self: center;
  text-shadow: 1px 2px #F5F5DC;
}

#privacy h2,
h3,
h4,
h5,
p,
ul,
li {
  max-width: 530px;

}


/*------------------------------------*\ 
  #TERMS SECTION
\*------------------------------------*/

#terms {
  padding: 20px
}

#terms > article {
  background-color: var(--p-light-color);
  max-width: 530px;
  box-shadow: 5px 10px 18px var(--gray-color);
  border: 2px solid var(--secondary-color);
}

#terms h1 {
  font-family: "Smooth Stone";
  font-size: 1.3em;
  max-width: 530px;
  text-align: center;
  align-self: center;
  word-spacing: 15px;
  text-shadow: 1px 2px #F5F5DC;
}

#terms h3 {
  background-color: var(--p-dark-color);
  color: white;
  font-family: "IM Fell DW Pica";
  text-align: center;
  padding: 4px 0 4px 0;
}

/*------------------------------------*\ 
  #TESTIMONIALS SECTION
\*------------------------------------*/

#testimonials {
  max-width: 530px;
}

#testimonials h3 {
  background-color: var(--s-dark-color);
  color: white;
  padding: 5px 0 5px 10px;
}

#testimonials > article {
  background-color: var(--p-light-color);
  margin-top: 20px;
  border: 2px solid var(--secondary-color);
  box-shadow: 5px 10px 18px var(--gray-color);
}

/*------------------------------------*\ 
  #HONEYMOON SECTION
\*------------------------------------*/

#honeymoon_main {
  flex-direction: column;
}

#honeymoon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#honeymoon > article {
  max-width: 200px;
  order: 1;
  margin-top: 10px;
  margin-left: 20px;
}

#honeymoon > nav {
  max-width: 300px;
  width: 250px;
  order: 3;
  margin-right: 20px;
  margin-top: 10px;
}

figure#honeymoon_fig_big {
  order: 2;
  width: 33%;
}

figure#honeymoon_fig_big > img {
  width: 100%;

}

figure#honeymoon_fig1 {
  order: 4;
  width: 24%;
}

figure#honeymoon_fig1 > img {
  width: 100%;
}

figure#honeymoon_fig2 {
  order: 5;
  width: 24%;
}

figure#honeymoon_fig2 > img {
  width: 100%;
}

figure#honeymoon_fig3 {
  order: 6;
  width: 24%;
}

figure#honeymoon_fig3 > img {
  width: 100%;
}

#honeymoon h3 {
  text-align: center;
  background-color: var(--p-dark-color);
  color: white;
  font-size: 1.4em;
  letter-spacing: 1.2px;
  padding: 5px 0px;
  font-family: "IM Fell DW Pica";
}

#honeymoon > nav a {
  color: black;
  text-decoration: none;
  text-align: left;
  font-size: 1.3em;
}

#honeymoon > nav li {
  padding-bottom: 5px;
  padding-right: 5px;
}

#honeymoon p {
  color: black;
  font-size: 1.3em;

}

#honeymoon figcaption {
  text-align: center;
  font-size: 1.3em;
}

/*------------------------------------*\ 
  #RESPONSIVE SECTION
\*------------------------------------*/

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  header {
    width: 100%;
    height: 7vh;
  }
  #center {
    width: 100%;
    background: beige;
  }
  footer {
    width: 100%;
  }
  header h1 {
    font-size: .8em;
    word-spacing: 7px;
  }
  #logo img {
    height: 4vh;
    padding-left: 15px;
    margin-right: 10px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  header {
    width: 100%;
  }
  #center {
    width: 100%;
  }
  footer {
    width: 100%;
  }
  header h1 {
    font-size: 1.7em;
  }
  #logo img {
    height: 8vh;
    padding-left: 15px;
    margin-right: 10px;
  }

}



/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  header {
    width: 100%;
  }
  #center {
    width: 100%;
  }
  footer {
    width: 100%;
  }
  header h1 {
    font-size: 2.2em;
  }
  #logo img {
    height: 9vh;
    padding-left: 25px;
  }
}



/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  header {
    width: 100%;
  }
  #center {
    width: 100%;
  }
  footer {
    width: 100%;
  }
  header h1 {
    font-size: 2.4em;
  }
  #logo img {
    height: 11vh;
    padding-left: 55px;
  }
  #
}



/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  header {
    width: 1200px;
    margin: auto;
  }
  #center {
    width: 1200px;
    margin: auto;
  }
  footer {
    width: 1200px;
    margin: auto;
  }
  header h1 {
    font-size: 3.3em;
  }
  #logo img {
    height: 11vh;
    padding-left: 55px;
  }
  #interactive_map > h1 {}

  header,
  footer,
  #center {
    /*box-shadow: 0px 0px 31px 10px rgba(136, 136, 136, 1);
  }*/
